@charset "UTF-8";

main{
    background-color: #d1d1d1;
    display:flex;
    display:-webkit-flex;
    display:-ms-flex;
    flex-flow: row nowrap;
    margin:auto;
}

.flexitens{
    background-color:#fa7373;
    flex-basis:100px;
    height:100px;
    margin:40px;
    flex-grow:0;
}


