@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
}

table{
    border:1px solid black;
    border-collapse: collapse;
}

table{
    width:500px;
    
}

tr td, th{
    padding:8px;
    border:1px solid #000000;
}

.cinza{
    background-color: rgb(136, 136, 136);
    color:#fff;
    font-weight:bolder;
}

.nm{
    text-align: center;
}