@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
}

table{
    border:1px solid black;
    border-collapse: collapse;
}

table{
    width:1000px;
    
}

 td, th{
    padding:10px;
    border:1px solid #000000;
}

.cinza{
    background-color: rgb(136, 136, 136);
    color:#fff;
    font-weight:bolder;
}

.nm{
    text-align: center;
}

.title{
    background-color: rgb(66, 66, 66);
    color:#FFF;
}

caption{
    padding:10px;
    background-color:#dfdfdf;
    font-size: 1.3em;
}

table tbody tr:nth-child(odd){
    background-color: rgb(202, 202, 202);
}

#col1{
    background-color: green;
}

div#container{
    overflow-x: auto;
}