@charset "UTF-8";

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

fieldset{
    padding:15px;
    margin-bottom:1.5em;
}

legend{
    font-weight:bold
}

label{
    cursor:pointer;
}
