@charset "UTF-8";

body{
    background-color:#000;
    background-image: url('https://github.com/gustavoguanabara/html-css/blob/master/exercicios/modulo-03/ex022/imagens/wallpaper002.jpg');
}

main{
    background-color: #fff;
    border:1px solid darkblue;
    border-radius:15px;
    padding:10px;
    width:400px;
    margin:auto;
}