@charset "UTF-8";

body{
    background:#000 url('imagens/wallpaper002.jpg') center center no-repeat fixed;
    background-size:cover;
}

main{
    background-color: #fff;
    border:1px solid darkblue;
    border-radius:15px;
    padding:10px;
    width:400px;
    margin:auto;
}